.main {
  position: relative;
  max-height: 100vh;
  max-width: 100vw;
  padding-left: 2rem;
  overflow: hidden;
}

.controls {
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  transition: opacity 300ms ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
